/* Image Styles  */

.mural-container img {
    width: 100vw;
    max-height: auto;
}

/* Footer Styles  */

footer {
    background-color: white;
    bottom: 0rem;
    width: 100vw;
}

.footer-text {
    padding: 1rem .5rem;
}